$white: #ffffff;

$grey: #f3f3f3;
$greyLight: #f2f2f2;
$greyDark: #e5e5e5;

$pinkLight: #d32456;
$pink: #d22856;

$greenLight: #2aab6d;
$green: #1c9b5e;

$blue: #283645;
$blueDark: #17212e;
$blueDarker: #243344;

$black: #000000;

$mobile-width: 320px;
$tablet-width: 660px;
$mobile-width-only: $tablet-width - 1;
$desktop-width: 1200px;
$tablet-width-only: $desktop-width - 1;
$desktop-wrapper-width: 940px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
