.comment {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  color: $blue;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 10px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 31px;
    min-height: 155px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37px;
    padding-right: 40px;
  }

  &--day {
    padding-top: 19px;
    
    @media (min-width: $tablet-width) {
      padding-left: 28px;
      padding-top: 22px;
      padding-right: 30px;
      padding-bottom: 25px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      min-height: 121px;
      
      .comment__text {
        order: 1;
        margin-bottom: 0;
      }
    }
    
    @media (min-width: $desktop-width) {
      padding-top: 24px;
      min-height: 96px;
      
      .comment__like {
        margin-top: 0;
      }
      
      .comment__text {
        margin-top: -2px;
      }
    }
  }
}

.comment__author {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.comment__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.comment__text {
  margin: 0;
  margin-top: -1px;
  margin-bottom: 9px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
  
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.comment__like {
  padding: 0;
  align-self: flex-start;
  margin-top: auto;
}
