.comment {
  outline: 1px solid red;
  display: flex;
  flex-direction: column;
  background-color: $grey;
  color: $blue;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 10px;
  padding-bottom: 20px;

  &--day {
    padding-top: 19px;

    @media (min-width: $tablet-width) {
      padding-left: 28px;
      padding-top: 22px;
      padding-right: 30px;
      padding-bottom: 25px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .comment__text {
        order: 1;
        margin-bottom: 0;
      }

      .comment__like {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 24px;
      padding-left: 30px;
      align-items: flex-start;
      align-content: flex-start;

      .comment__like {
        margin-top: 0;
      }

      .comment__text {
        margin-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 31px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    padding-right: 30px;
  }
}

.comment__author {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  outline: 1px solid blue;
}

.comment__time {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;

  &::before {
    content: "(";
  }

  &::after {
    content: ")";
  }
}

.comment__text {
  outline: 1px solid blue;
  width: 100%;
  margin: 0;
  margin-top: -1px;
  margin-bottom: 9px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
  }
}

.comment__like {
  padding: 0;
  align-self: flex-start;
  margin-top: auto;
  outline: 1px solid blue;
}
