.contest {
  background-image: linear-gradient(to bottom, transparent 170px, $white 170px);
  /*position: relative;
  margin-top: 172px;*/
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    /*margin-top: 330px;*/
    background-image: linear-gradient(to bottom, transparent 330px, $white 330px);
  }

  @media (min-width: $desktop-width) {
    /*margin-top: 283px;*/
    background-image: linear-gradient(to bottom, transparent 283px, $white 283px);
  }
}

.contest__title {
  /*position: absolute;*/
  width: $mobile-width;
  /*left: 50%;
  transform: translateX(-50%);
  bottom: 100%;*/
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $white;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 28px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 70px;
    font-size: 50px;
    line-height: 60px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 60px;
    padding-bottom: 103px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contest__wrapper {
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding: 0 10px;
  }
}

.contest__intro {
  background-color: $white;
  color: $blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 45px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 92px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 60px;
  }
}

.contest__invite {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.contest__form {
  background-color: $white;
  color: $blue;
}
