.contest__title {
  margin: 0;
  background-color: transparent;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.contest__intro {
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 55px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.contest__form {
  background-color: #ffffff;
  color: #283645;
}
