.contacts {
  background-color: $white;
  padding-top: 42px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
  }
}

.contacts__wrapper {
  position: relative;
  background-color: transparent;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 20px;
/*
  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 50px solid $white;

    @media (min-width: $tablet-width) {
      bottom: -65px;
      border-left-width: 320px;
      border-right-width: 320px;
      border-top-width: 65px;
    }

    @media (min-width: $desktop-width) {
      bottom: -105px;
      border-left-width: 600px;
      border-right-width: 600px;
      border-top-width: 105px;
    }
  }
*/
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-bottom: 20px;
  }
}

.contacts__intro {
  margin: 0;
  padding: 0;
  color: $blue;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 60px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 55px;
  }
}

.contacts__list {
  @include list-reset;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.contacts__item {
  &--phone {
    @media (min-width: $tablet-width) {
      padding-right: 10px;
    }
  }

  &--mail {
    .contacts__title {
      margin-left: -5px;

      @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
        margin-bottom: 9px;
        margin-left: 0;
      }
    }

    @media (max-width: $tablet-width-only) {
      padding-left: 10px;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      padding-left: 15px;
    }
  }

  &--address {
    @media (max-width: $tablet-width-only) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (min-width: $tablet-width) {
      margin-top: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.contacts__title {
  color: $blue;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.contacts__text {
  color: $pink;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.contacts__phone {
  display: block;
  color: $pink;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 1px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.contacts__email {
  display: block;
  color: $pink;
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 2px;
  margin-bottom: 25px;
  margin-left: -5px;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $blue;
  }

  &:active {
    color: $blue;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding: 0;
  }
}

.contacts__address {
  color: $pink;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contacts__map {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 200px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 320px 421px;
  background-position: center bottom;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 370px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-size: 700px 848px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 500px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: 1200px 976px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  iframe {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 200px;

    @media (min-width: $tablet-width) {
      min-height: 370px;
    }

    @media (min-width: $desktop-width) {
      min-height: 500px;
    }
  }
}
