.download {
  background-color: transparent;
  color: $white;

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(to bottom, transparent 396px, $blueDark 396px);
  }
}

.download__wrapper {
  padding: 0 20px;
  padding-top: 424px;
  padding-bottom: 31px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 110px;
  background-size: 258px 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-position: -20px bottom;
    padding-top: 93px;
    padding-right: 340px;
    padding-bottom: 111px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-position: 15px bottom;
    padding-top: 110px;
    padding-left: 0;
    padding-right: 640px;
    padding-bottom: 125px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__intro {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    width: 185px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 58px;
    width: 235px;
    margin-bottom: 55px;
  }
}

.download__button {
  width: 100%;
  background-color: transparent;
  border-color: $white;
  border-width: 3px;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 32px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $pink;
  }

  &:active {
    background-color: $white;
    color: rgba($pink, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 68px;
  }
}

.download__list {
  @include list-reset;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-left: 37px;
  padding-right: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-left: 46px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-right: 48px;
  }
}

.download__item {
  &:last-child {
    margin-bottom: 3px;
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      opacity: 0.4;
    }
  }
}

.download__link {
  display: block;
  color: $white;
  text-decoration: none;
  transition: transform 0.3s;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.download__description {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
  }
}
