.download {
  background-color: transparent;
  color: $white;

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(to bottom, transparent 396px, $blueDark 396px);
  }
}

.download__wrapper {
  padding: 0 20px;
  padding-top: 424px;
  padding-bottom: 31px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    background-position: right 70px;
    padding-top: 93px;
    padding-right: 340px;
    padding-bottom: 111px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    background-position: right 100px;
    padding-top: 110px;
    padding-left: 0;
    padding-right: 640px;
    padding-bottom: 122px;
  }
}

.download__intro {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
    width: 185px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 58px;
    width: 235px;
    margin-bottom: 55px;
  }
}

.download__button {
  width: 100%;
  background-color: transparent;
  border-color: $white;
  border-width: 3px;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 32px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: $white;
    color: $pink;
  }

  &:active {
    background-color: $white;
    color: rgba($pink, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin-bottom: 68px;
  }
}

.download__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.download__link {
  display: block;
  color: $white;
  text-decoration: none;
  transition: transform 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &--apple {
    width: 47px;
    height: 57px;
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    width: 43px;
    height: 48px;
    background-image: url("../img/logo-android.svg");
    margin-left: 35px;
    margin-right: 35px;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      opacity: 0.4;
    }
  }

  &--microsoft {
    width: 44px;
    height: 42px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

.download__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 18px;
  }
}
