.features {
  background-color: $white;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-top: 48px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-left: 0;
    padding-right: 0;
    padding-top: 65px;
  }
}

.features__intro {
  color: $blue;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 90px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 77px;
    font-size: 50px;
    line-height: 60px;
  }
}

.features__ask {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.features__answer {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.features__list {
  @include list-reset;
  background-color: $grey;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 110px;
  padding-bottom: 358px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../../img/iphone-screen-mobile@1x.png"), url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center top;
  }

  @media (min-width: $tablet-width) {
    padding-left: 330px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-position: left bottom, center top;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 0;
    margin-left: -130px;
    margin-right: -130px;
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  margin: 0;
  margin-bottom: 33px;
  
  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    padding-top: 357px;
    margin-bottom: 0;
  }
}

.features__title {
  color: $black;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}

.features__text {
  color: $blue;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
  }
}
