.form {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    border: 2px solid $greyDark;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }

  &--id {
    padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      padding-top: 51px;
      padding-bottom: 3px;
      border: none;
      order: -3;
      width: $tablet-width;
      margin-bottom: 10px;
    }

    @media (min-width: $desktop-width) {
      width: 435px;
      padding-top: 7px;
      padding-bottom: 0;
      margin-left: 0;
      margin-bottom: 0;
    }

    .form__legend {
      display: none;
    }

    .form__list {
      @media (min-width: $desktop-width) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .form__item {
      margin-bottom: 14px;
      padding-top: 4px;

      @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        margin-bottom: 53px;
        padding-top: 0;
      }

      @media (min-width: $desktop-width) {
        margin: 0;
      }
    }

    .form__label {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $pink;
      display: block;
      text-transform: uppercase;
      padding-left: 22px;
      margin-bottom: 5px;

      @media (min-width: $tablet-width) {
        padding-left: 0;
        padding-right: 19px;
        margin: 0;
      }
    }

    .form__input {
      font: inherit;
      box-sizing: border-box;
      border: 2px solid $greyDark;
      outline: none;
      padding: 20px;
      padding-top: 0;
      padding-bottom: 0;
      height: 62px;
      width: 100%;

      &:hover {
        border-color: $blue;
      }

      &:active,
      &:focus {
        border-color: $pink;
      }

      &::placeholder {
        color: $blue;
        font-size: 18px;
        line-height: 58px;
        font-weight: 400;
      }
    }
  }

  &--contacts {
    padding-bottom: 24px;

    @media (min-width: $tablet-width) {
      order: -1;
      padding-top: 30px;
      padding-bottom: 10px;
      margin-bottom: 66px;
      position: relative;
    }

    @media (min-width: $desktop-width) {
      margin-top: 65px;
      padding-top: 42px;
      padding-left: 59px;
      padding-right: 59px;
      padding-bottom: 14px;
      margin-bottom: 65px;
    }

    .form__legend {
      @media (max-width: $mobile-width-only) {
        display: none;
      }

      @media (min-width: $tablet-width) {
        background-color: $white;
        padding: 0;
        padding-left: 31px;
        padding-right: 31px;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
      }
    }

    .form__list {
      @media (min-width: $desktop-width) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .form__item {
      margin-bottom: 18px;
      position: relative;

      @media (min-width: $tablet-width) {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 59px;
        padding-right: 59px;
        margin-bottom: 10px;
        margin-top: 15px;
      }

      @media (min-width: $desktop-width) {
        width: 373px;
        padding: 0;
        margin: 0;
      }
    }

    .form__label {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $pink;
      display: block;
      text-transform: uppercase;
      padding-left: 22px;
      margin-bottom: 5px;

      @media (min-width: $tablet-width) {
        padding-left: 19px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }

    .form__input {
      font: inherit;
      box-sizing: border-box;
      border: 2px solid $greyDark;
      outline: none;
      padding: 0 20px;
      height: 62px;
      width: 100%;

      @media (min-width: $tablet-width) {
        padding-left: 17px;
        margin-bottom: 10px;
        padding-right: 60px;
        background-image: linear-gradient(to left, $greyDark 60px, $white 60px);
      }

      &:hover {
        border-color: $blue;
      }

      &:active,
      &:focus {
        border-color: $pink;
      }

      &::placeholder {
        color: $blue;
        font-size: 18px;
        line-height: 58px;
        font-weight: 400;
      }
    }
  }

  &--checkbox {
    padding-top: 94px;
    position: relative;
    margin-bottom: 13px;
    padding-bottom: 20px;

    @media (max-width: $mobile-width-only) {
      background-color: $grey;
      overflow: hidden;
    }

    @media (min-width: $tablet-width) {
      padding-top: 30px;
      padding-bottom: 26px;
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 30px;
      padding-left: 58px;
      padding-right: 58px;
      height: 232px;
    }

    .form__legend {
      @media (max-width: $mobile-width-only) {
        position: absolute;
        width: 100%;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (min-width: $tablet-width) {
        background-color: $white;
        padding-left: 30px;
        padding-right: 30px;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
      }
    }

    .form__list {
      @media (min-width: $desktop-width) {
        width: 100%;
        height: 100%;
        overflow: hidden;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
      }
    }

    .form__item {
      margin-bottom: 11px;
      margin-top: 11px;
      position: relative;
    }

    .form__label {
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue;
      padding-left: 70px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;

      @media (min-width: $tablet-width) {
        padding-left: 117px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 59px;
      }

      &:hover .form__checkbox {
        border-color: $blue;
      }

      &:active .form__checkbox {
        border-color: $pink;
      }
    }

    .form__input {
      display: none;
    }

    .form__checkbox {
      position: absolute;
      cursor: pointer;
      top: 10px;
      left: 0;
      width: 39px;
      height: 39px;
      background-color: $white;
      border: 2px solid $greyDark;

      @media (min-width: $tablet-width) {
        left: 59px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
      }

      &:hover {
        border-color: $blue;
      }

      &:active {
        border-color: $pink;
      }
    }

    .form__input:checked + .form__checkbox::before {
      position: absolute;
      top: 20px;
      left: 7px;
      content: "";
      width: 8px;
      height: 2px;
      background-color: $pink;
      transform: rotate(45deg);
    }

    .form__input:checked + .form__checkbox::after {
      position: absolute;
      top: 15px;
      left: 11px;
      content: "";
      width: 20px;
      height: 2px;
      background-color: $pink;
      transform: rotate(-45deg);
    }
  }

  &--radio {
    padding-top: 90px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 11px;

    @media (max-width: $mobile-width-only) {
      background-color: $grey;
      overflow: hidden;
    }

    @media (min-width: $tablet-width) {
      order: -2;
      padding-top: 30px;
      padding-bottom: 40px;
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      width: 435px;
      padding-top: 34px;
      padding-bottom: 41px;
      margin: 0;
    }

    .form__legend {
      @media (max-width: $mobile-width-only) {
        position: absolute;
        width: 100%;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (min-width: $tablet-width) {
        background-color: $white;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    .form__item {
      margin-bottom: 4px;
      margin-top: 11px;
      position: relative;

      @media (min-width: $desktop-width) {
        margin-bottom: 3px;
      }
    }

    .form__label {
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue;
      padding-left: 70px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;

      @media (min-width: $tablet-width) {
        padding-left: 117px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 134px;
      }

      &:hover .form__radio {
        border-color: $blue;
      }

      &:active .form__radio {
        border-color: $pink;
      }
    }

    .form__input {
      display: none;
    }

    .form__radio {
      position: absolute;
      top: 10px;
      left: 0;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background-color: $white;
      border: 2px solid $greyDark;

      @media (min-width: $tablet-width) {
        left: 59px;
      }

      @media (min-width: $desktop-width) {
        left: 75px;
      }

      &:hover {
        border-color: $blue;
      }

      &:active {
        border-color: $pink;
      }
    }

    .form__input:checked + .form__radio::before {
      position: absolute;
      top: 10px;
      left: 10px;
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $pink;
    }
  }

  &--comment {
    padding-top: 61px;
    position: relative;
    padding-bottom: 45px;
    
    @media (min-width: $tablet-width) {
      padding-top: 45px;
      padding-bottom: 48px;
      padding-left: 59px;
      padding-right: 59px;
      margin-bottom: 67px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 65px;
    }

    .form__legend {
      @media (max-width: $mobile-width-only) {
        position: absolute;
        width: 100%;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 50px;
        padding-right: 50px;
      }

      @media (min-width: $tablet-width) {
        background-color: $white;
        padding-left: 40px;
        padding-right: 40px;
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
      }
    }
  }
}

.form__icon {
  display: none;
  position: absolute;

  @media (min-width: $tablet-width) {
    display: block;
    top: 20px;
    right: 80px;
  }

  @media (min-width: $desktop-width) {
    right: 21px;
    top: 22px;
  }

  &--mail {
    @media (min-width: $tablet-width) {
      top: 23px;
      right: 81px;
    }

    @media (min-width: $desktop-width) {
      right: 22px;
      top: 25px;
    }
  }
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.form__legend {
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.form__textarea {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $greyDark;
  outline: none;
  padding: 15px 19px;
  min-height: 201px;

  &:hover {
    border-color: $blue;
  }

  &:active,
  &:focus {
    border-color: $pink;
  }

  &::placeholder {
    color: $blue;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 128px;
  }
}

.form__button {
  background-color: $greenLight;
  border-color: $greenLight;
  cursor: pointer;
  width: 280px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $greyDark;
    border-color: $greyDark;
  }

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 50px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 5px;
  }
}

.form__note {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $blue;
  text-transform: uppercase;

  &::before {
    content: "* ";
    color: $pink;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-top: 18px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.form__hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
