.form {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
// старое
.form__fieldset {
  @media (min-width: $tablet-width) {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $greyDark;

    &--id {
      order: -3;
      width: $tablet-width;
      border: none;
    }

    &--radio {
      order: -2;
      padding-bottom: 40px;
    }

    &--contacts {
      order: -1;
      padding-bottom: 0;
    }

    &--checkbox {
      
    }

    &--textarea {
      padding-top: 30px;
      padding-left: 58px;
      padding-right: 58px;
      padding-bottom: 45px;
      margin-bottom: 65px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    border: 2px solid $greyDark;

    &--id {
      width: 50%;
      margin-left: 0;
      border: none;
      padding-left: 0;
      padding-right: 25px;
      padding-top: 25px;
    }

    &--radio {
      width: 50%;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
      padding-left: 40px;
    }

    &--contacts {
      padding-left: 58px;
      padding-right: 58px;
      padding-top: 10px;
    }

    &--checkbox {
      padding-bottom: 25px;
    }

    &--textarea {
      padding-top: 25px;
      padding-left: 58px;
      padding-right: 58px;
      padding-bottom: 45px;
      margin-bottom: 65px;
    }
  }
}
// временно
.form__fieldset {
  
  @media (min-width: $tablet-width) {
    &:nth-child(1) {
    min-height: 370px;
  }
  &:nth-child(2) {
    min-height: 600px;
  }
  &:nth-child(3) {
    min-height: 370px;
  }
  &:nth-child(4) {
    min-height: 350px;
  }
  &:nth-child(5) {
    min-height: 425px;
  }
  }
  
  @media (min-width: $desktop-width) {
    &:nth-child(1) {
    min-height: 400px;
  }
  &:nth-child(2) {
    min-height: 300px;
  }
  &:nth-child(3) {
    min-height: 220px;
  }
  &:nth-child(4) {
    min-height: 350px;
  }
  &:nth-child(5) {
    min-height: 295px;
  }
  }
  
}
// новое
.form__fieldset {
  background-color: transparent;
  outline: 1px solid green;
  border: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  
  &--id {
    padding-bottom: 26px;
    .form__legend {
      display: none;
    }
    
    .form__item {
      margin-bottom: 15px;
      padding-top: 4px;
    }
    
    .form__label {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $pink;
      display: block;
      text-transform: uppercase;
      padding-left: 22px;
      margin-bottom: 5px;
    }
    
    .form__input {
      font: inherit;
      box-sizing: border-box;
      border: 2px solid $greyDark;
      outline: none;
      padding: 20px;
      padding-top: 17px;
      padding-bottom: 18px;
      width: 100%;
      
      &:hover {
        border-color: $blue;
      }
      
      &:active,
      &:focus {
        border-color: $pink;
      }
      
      &::placeholder {
        color: $blue;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }
  
  &--contacts {
    .form__item {
      margin-bottom: 20px;
    }
    
    .form__label {
      font-size: 14px;
      line-height: 30px;
      font-weight: 400;
      color: $pink;
      display: block;
      text-transform: uppercase;
      padding-left: 22px;
      margin-bottom: 5px;
    }
    
    .form__input {
      font: inherit;
      box-sizing: border-box;
      border: 2px solid $greyDark;
      outline: none;
      padding: 20px;
      padding-bottom: 15px;
      width: 100%;
      
      &:hover {
        border-color: $blue;
      }
      
      &:active,
      &:focus {
        border-color: $pink;
      }
      
      &::placeholder {
        color: $blue;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
      }
    }
  }
  
  &--checkbox {
    padding-top: 94px;
    position: relative;
    margin-bottom: 13px;
    padding-bottom: 20px;
    
    .form__legend {
      position: absolute;
      width: 100%;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      outline: 1px solid black;
      padding-left: 50px;
      padding-right: 50px;
    }
    
    .form__item {
      margin-bottom: 11px;
      margin-top: 11px;
      position: relative;
    }
    
    .form__label {
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue;
      padding-left: 70px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      outline: 1px solid blue;
      
      &:hover .form__checkbox {
        border-color: $blue;
      }
      
      &:active .form__checkbox {
        border-color: $pink;
      }
    }
    
    .form__input {
      display: none;
    }
    
    .form__checkbox {
      position: absolute;
      cursor: pointer;
      top: 10px;
      left: 0;
      width: 39px;
      height: 39px;
      background-color: $white;
      border: 2px solid $greyDark;
      
      &:hover {
        border-color: $blue;
      }
      
      &:active {
        border-color: $pink;
      }
    }
    
    .form__input:checked + .form__checkbox::before {
      position: absolute;
      top: 18px;
      left: 5px;
      content: "";
      width: 10px;
      height: 2px;
      background-color: $pink;
      transform: rotate(45deg);
    }
    
    .form__input:checked + .form__checkbox::after {
      position: absolute;
      top: 15px;
      left: 11px;
      content: "";
      width: 20px;
      height: 2px;
      background-color: $pink;
      transform: rotate(-45deg);
    }
  }
  
  &--radio {
    padding-top: 90px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 13px;
    
    .form__legend {
      position: absolute;
      width: 100%;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      outline: 1px solid black;
      padding-left: 50px;
      padding-right: 50px;
    }
    
    .form__item {
      margin-bottom: 4px;
      margin-top: 11px;
      position: relative;
    }
    
    .form__label {
      display: block;
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      color: $blue;
      padding-left: 70px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      
      &:hover .form__radio {
        border-color: $blue;
      }
      
      &:active .form__radio {
        border-color: $pink;
      }
    }
    
    .form__input {
      display: none;
    }
    
    .form__radio {
      position: absolute;
      top: 10px;
      left: 0;
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background-color: $white;
      border: 2px solid $greyDark;
      
      &:hover {
        border-color: $blue;
      }
      
      &:active {
        border-color: $pink;
      }
    }
    
    .form__input:checked + .form__radio::before {
      position: absolute;
      top: 10px;
      left: 10px;
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $pink;
    }
  }
  
  &--comment {
    padding-top: 60px;
    position: relative;
    padding-bottom: 44px;
    
    .form__legend {
      position: absolute;
      width: 100%;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      outline: 1px solid black;
      padding-left: 50px;
      padding-right: 50px;
    }
    
    .form__label {
      padding: 0;
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  @media (max-width: $mobile-width-only) {
    &--checkbox,
    &--radio {
      background-color: $grey;
    }
    
    &--contacts {
      .form__legend {
        display: none;
      }
    }
  }
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    &--contacts {
      flex-direction: row;
      justify-content: space-between;
    }

    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.form__item {
  margin: 0;
  padding: 0;
  outline: 1px solid red;

  @media (min-width: $tablet-width) {
    &--text {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      margin-top: 27px;
    }

    &--contacts {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin-left: 38px;
      margin-right: 38px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      display: flex;
      align-items: center;
      margin-bottom: 27px;
      margin-top: 27px;
    }

    &--contacts {
      width: 375px;
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}

.form__label {

  @media (min-width: $tablet-width) {
    &--text {
      padding-left: 0;
      padding-right: 20px;
      margin-top: 5px;
    }

    &--contacts {
      padding-left: 20px;
    }

    &--radio {
      padding-left: 70px;
    }

    &--textarea {
      padding-left: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &--text {
      margin: 0;
    }

    &--contacts {
      padding-left: 20px;
    }

    &--radio {
      padding-left: 70px;
    }

    &--textarea {
      padding-left: 20px;
    }
  }
}

.form__input {

  @media (min-width: $desktop-width) {
    &--text {
      flex-grow: 1;
      margin-right: 0;
    }
  }
}

.form__legend {
  color: $pink;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  /*padding-top: 33px;*/

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    margin-bottom: 7px;

    &--hidden {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 7px;
  }
}

.form__textarea {
  font: inherit;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid $greyDark;
  outline: none;
  padding: 15px 20px;
  min-height: 201px;

  &:hover {
    border-color: $blue;
  }

  &:active,
  &:focus {
    border-color: $pink;
  }

  &::placeholder {
    color: $blue;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }

  @media (min-width: $tablet-width) {
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    min-height: 100px;
  }
}

.form__button {
  background-color: $greenLight;
  border-color: $greenLight;
  cursor: pointer;
  width: 280px;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $green;
    border-color: $green;
  }

  &:active {
    background-color: $green;
    border-color: $green;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $greyDark;
    border-color: $greyDark;
  }

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-bottom: 50px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.form__note {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $blue;
  text-transform: uppercase;

  &::before {
    content: "* ";
    color: $pink;
  }

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.form__hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
