.gallery {
  outline: 1px solid orange;
  width: $mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 0;
}

.gallery__title {
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: $blue;
  color: $white;
  font-size: 24px;
  outline: 1px solid yellow;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  padding-left: 23px;
  padding-right: 20px;
  margin: 0;
}

.gallery__intro {
  /*background-color: $white;*/
  color: $black;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding-top: 45px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  outline: 1px solid yellow;
}

.gallery__list {
  @include list-reset;
  /*background-color: $white;*/
  width: $mobile-width;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.gallery__item {
  outline: 1px solid red;
}

.gallery__link {
  position: relative;
  text-decoration: none;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.gallery__image {
  width: 280px;
  height: 180px;
  
  &--day {
    width: $mobile-width;
    height: 137px;
  }
}

.gallery__badge {
  position: absolute;
  top: 0;
  background-color: $pinkLight;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
}

.gallery__text {
  /*background-color: $grey;*/
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 23px;
  margin-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .gallery{
    width: $tablet-width;
  }

  .gallery__title {
    font-size: 50px;
    line-height: 60px;
    padding-left: 105px;
    padding-right: 100px;
    padding-bottom: 140px;
    padding-top: 70px;
  }

  .gallery__intro {
  /*background-color: $white;*/
    font-size: 18px;
    padding-top: 90px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 78px;
}

  .gallery__list {
    width: $tablet-width;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
  
  .gallery__item {
    width: 300px;
    
    &--day {
      width: $tablet-width;
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  
  .gallery__image {
    width: 300px;
    height: 300px;
  
    &--day {
      width: $tablet-width;
      height: 509px;
  }
}

  .gallery__badge {
    top: 55px;
    right: 20px;
  }
  
  .gallery__text {
    padding-bottom: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .gallery{
    width: $desktop-wrapper-width;
    margin-bottom: -55px;
  }

  .gallery__title {
    padding-top: 63px;
    padding-left: 157px;
    padding-right: 150px;
    padding-bottom: 102px;
  }

  .gallery__intro {
  /*background-color: $white;*/
    padding-top: 90px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 90px;
}

  .gallery__image {
    width: 300px;
    height: 400px;
    
    &--day {
      width: $desktop-width;
      height: 506px;
    }
  }

  .gallery__list {
    width: $desktop-wrapper-width;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
  
  .gallery__item {
    width: 300px;
    margin-bottom: 55px;
    
    &--day {
      width: $desktop-width;
      margin-left: -130px;
      margin-right: -130px;
      margin-bottom: 45px;
    }
  }

  .gallery__badge {
    top: 53px;
    right: 130px;
  }
  
  .gallery__text {
    padding-bottom: 30px;
    margin-bottom: 0;
    min-height: 152px;
    &--day {
      min-height: 20px;
      padding-bottom: 0px;
      margin-left: 120px;
      margin-right: 120px;
    }
  }
}

