.like {
  position: relative;
  padding-left: 31px;
  background-color: transparent;
  color: $pink;
  cursor: pointer;
  font: inherit;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: auto;
      right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 100%;
    text-align: left;
  }

  &--day {
    @media (min-width: $tablet-width) {
      padding-right: 29px;
      width: auto;
    }

    @media (min-width: $desktop-width) {
      padding-right: 31px;
    }
  }
}

.like__text {
  text-transform: uppercase;
}
