.like {
  color: $pink;
  cursor: pointer;
  font: inherit;
  border: 0;
  background-color: transparent;
}
.like__text {
  padding-left: 40px;
  background-color: transparent;
  background-image: url(../../img/icon-heart.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
