.main-nav {
  position: relative;
  background-color: $blueDarker;

  &--nojs {
    .main-nav__toggle {
      display: none;
    }
  }

  &--closed {
    background-color: transparent;

    .main-nav__list {
      @media (max-width: $tablet-width-only) {
        display: none;
      }
    }

    .main-nav__toggle {
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 45px;
      }
    }

    .main-nav__toggle-image--close {
      display: none;
    }
  }

  &--opened {
    .main-nav__toggle {
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 45px;
      }
    }

    .main-nav__toggle-image--open {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
}

.main-nav__logo-wrapper {
  @media (max-width: $mobile-width-only) {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    box-shadow: 0 1px 0 #000000;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 62px;
    box-shadow: 0 1px 0 #000000;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}

.main-nav__logo {
  display: block;
  color: $white;
  width: 75px;
  height: 23px;
  padding: 0;

  &[href]:hover,
  &[href]:focus {
    color: $pink;
  }

  &[href]:active {
    color: $white;
    opacity: 0.3;
  }

  svg {
    fill: currentColor;
    width: auto;
    height: auto;

    @media (min-width: $tablet-width) {
      width: auto;
      height: auto;
    }
  }
}

.main-nav__list {
  @include list-reset;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  right: -7px;
  display: block;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  svg {
    fill: $white;
  }

  &:hover {
    svg {
      fill: $pink;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle-image {
  &--close {
    width: 24px;
    height: 24px;
  }

  &--open {
    width: 50px;
    height: 24px;
  }
}
