.main-nav {
  position: relative;
  background-color: $blueDarker;

  &--nojs {
    .main-nav__toggle {
      display: none;
    }
  }

  &--closed {
    background-color: transparent;

    .main-nav__list {
      @media (max-width: $tablet-width-only) {
        display: none;
      }
    }

    .main-nav__toggle {
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 45px;
      }
    }

    .main-nav__toggle-image--close {
      display: none;
    }
  }

  &--opened {
    .main-nav__toggle {
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 45px;
      }
    }

    .main-nav__toggle-image--open {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }
}

.main-nav__logo {
  @media (max-width: $tablet-width-only) {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 23px;
    box-shadow: 0 1px 0 #000000;
  }

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 39px;
  }
/*
  svg {
    width: 75px;
    height: 23px;

    @media (min-width: $tablet-width) {
      width: 147px;
      height: 40px;
    }
  }
*/
  img {
    width: 75px;
    height: 23px;

    @media (min-width: $tablet-width) {
      width: 147px;
      height: 40px;
    }
  }

  &[href]:hover path,
  &[href]:focus path {
    fill: $pink;
  }

  &[href]:active path {
    fill: $white;
    opacity: 0.3;
  }
}

.main-nav__list {
  @include list-reset;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  right: -7px;
  display: block;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    path {
      fill: $pink;
    }
  }

  &:active {
    path {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle-image {
  &--close {
    width: 24px;
    height: 23px;
  }

  &--open {
    width: 50px;
    height: 24px;
  }
}
