.modal {
  display: none;
  background-color: $white;
  width: $mobile-width;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--success {
    top: 0;
    z-index: 1;
  }

  &--error {
    bottom: 3%;

    .modal__wrapper {
      background-color: $white;
      padding-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    &--success {
      width: 780px;

      .modal__message {
        padding-left: 200px;
        padding-right: 200px;
      }

      .modal__wrapper {
        padding-left: 160px;
        padding-right: 160px;
      }
    }
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 46px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.modal__message {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $blue;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-left: 70px;
    padding-right: 70px;
  
    br {
      display: none;
    }
  }
}

.modal__wrapper {
  background-color: $grey;
  padding: 50px 22px 54px 22px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.modal__close {
  width: 100%;
  background-color: $greenLight;
  border-color: $greenLight;
  cursor: pointer;
}
