.page-main {
  background-color: #ffffff;
  color: #ffffff;
  background-image: url(../../img/bg-back-mobile@1x.jpg);
  background-position: center -65px;
  background-repeat: no-repeat;
  &--index {
    padding-top: 462px;
    background-image: url(../../img/iphone-hand-mobile@1x.png), url(../../img/bg-back-mobile@1x.jpg);
    background-position: left 176px, center -65px;
    background-repeat: no-repeat, no-repeat;
  }
}
