.page-footer {
  padding-top: 40px;
  text-align: center;
  background-color: #ffffff;

  &--no {
    display: none;
  }
}

.page-footer__logo-image {
  width: 147px;
  height: 41px;
}

.page-footer__social {
  margin-top: 40px;
  margin-bottom: 40px;
}
