.page-header {
  background-color: rgba($black, 0.3);
  
  &--opened {
    background-color: $blueDarker;
  }
  
  @media (min-width: $desktop-width) {
    background-color: rgba($black, 0.3);
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
