.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $white;

  &--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-width;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__logo {
  width: 147px;
  height: 41px;
  margin-bottom: 38px;
  transition: all 1s;

  svg {
    width: 147px;
    height: 41px;
    fill: $blue;
  }

  &[href]:hover svg,
  &[href]:focus svg {
    fill: $pink;
  }

  &[href]:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: -15px;
  }
}

.page-footer__social {
  width: 179px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 175px;
    margin-bottom: 0;
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 177px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 5px;
  }
}

.page-footer__copyright {
  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}
