.price {
  background-color: $grey;
  padding-top: 133px;
  padding-bottom: 47px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 107px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 188px;
    padding-bottom: 97px;
  }
}

.price__wrapper {
  width: $mobile-width;
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 500%;
    height: 145px;
    background-color: $white;
    top: -250px;
    left: -100%;
    transform: rotate(-4.5deg);

    @media (min-width: $tablet-width) {
      transform: rotate(-4.5deg);
      height: 135px;
    }

    @media (min-width: $desktop-width) {
      transform: rotate(-4deg);
      height: 175px;
      top: -350px;
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding: 0 10px;
  }
}

.price__list {
  @include list-reset;
  margin-bottom: 40px;
  color: $blue;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 0;
    width: 100%;
  }
}

.price__item {
  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      z-index: 3;
    }

    .price__option {
      @media (min-width: $tablet-width) {
        border-right: 2px solid $greyDark;
      }
    }

    .price__title {
      border-left-color: transparent;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      z-index: 2;
    }
  }

  &:nth-child(3) {
    .price__title {
      border-right-color: transparent;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 50%;
    margin-right: -25%;
  }
}

.price__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: $blueDarker;
  color: $white;
  text-align: center;
  cursor: default;
  border-right: 1px solid $greyDark;
  border-left: 1px solid $greyDark;

  &--hit {
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      background-image: url("../img/bg-hit-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-size: 74px 73px;
    }

    &::before {
      content: "Хит";
      position: absolute;
      text-transform: uppercase;
      font-weight: 300;
      top: 13px;
      left: 8px;
      transform: rotate(-45deg) scale(0.8);

      @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
        top: 7px;
        left: 5px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: 50%;
    margin-bottom: -2px;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 21px;
  }
}

.price__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__value {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 2px;
  }
}

.price__table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  background-color: $white;
}

.price__option {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 40px;
  padding-bottom: 14px;
  border: 1px solid $greyDark;
  border-right: none;
  border-top: none;
  border-bottom-width: 2px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 15px;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 8px;
    text-transform: none;
    border: 2px solid $greyDark;
    border-right: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 21px;
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 18px;
  }
}

.price__access {
  border: 1px solid $greyDark;
  border-left: none;
  border-top: none;
  border-bottom-width: 2px;

  @media (min-width: $tablet-width) {
    border: 2px solid $greyDark;
    border-left: none;
  }
}

.price__icon {
  display: inline-block;
  margin-right: 16px;

  &--yes {
    width: 31px;
    height: 21px;
  }

  &--no {
    width: 26px;
    height: 26px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 58px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 99px;
    margin-left: 99px;
  }
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
