.price {
  background-color: $grey;
  background-image: linear-gradient(175.8deg, $white 73px, $grey 73px);
  padding-top: 133px;
  padding-bottom: 47px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
    background-image: linear-gradient(175.6deg, $white 76px, $grey 76px);
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 188px;
    background-image: linear-gradient(176deg, $white 130px, $grey 130px);
    padding-bottom: 97px;
  }
}

.price__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding: 0;
  }
}

.price__list {
  @include list-reset;
  margin-bottom: 40px;
  color: $blue;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 0;
  }
}

.price__item {
  &:nth-child(1) {
    @media (min-width: $tablet-width) {
      z-index: 3;
    }
  }

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      z-index: 2;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    width: 50%;
    margin-right: -25%;
  }
}

.price__title {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: $blueDarker;
  color: $white;
  text-align: center;
  cursor: default;

  &--hit {
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: left top;

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      background-image: url("../img/bg-hit-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-size: 74px 73px;
    }

    &::before {
      content: "Хит";
      position: absolute;
      text-transform: uppercase;
      font-weight: 300;
      top: 13px;
      left: 8px;
      transform: rotate(-45deg) scale(0.8);

      @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
        top: 7px;
        left: 5px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: 50%;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 21px;
  }
}

.price__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__value {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 2px;
  }
}

.price__table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  background-color: $white;
}

.price__option {
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 40px;
  padding-bottom: 14px;
  border-bottom: 2px solid $greyDark;
  background-repeat: no-repeat;
  background-position: 93% center;

  &--yes {
    background-image: url("../img/icon-yes.svg");
    background-size: 31px 21px;
  }

  &--no {
    background-image: url("../img/icon-no.svg");
    background-size: 27px 26px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 17px;
    padding-top: 7px;
    padding-bottom: 8px;
    text-transform: none;
    background-position: 79% center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 23px;
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 18px;
    background-position: 77% center;
  }
}

.price__toggles {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
