.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $white;
    position: relative;
    z-index: 1;
    top: -1px;
    padding-top: 56px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 68px;
    background-color: $grey;
  }
}

.research__wrapper {
  &::before {
    @media (min-width: $tablet-width) {
      content: "24";
      position: absolute;
      color: $pink;
      left: 85px;
      top: 98px;
      font-size: 96px;
      font-weight: 700;
    }

    @media (min-width: $desktop-width) {
      left: 80px;
      top: 120px;
      font-size: 120px;
    }
  }

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 38px;
    padding-bottom: 30px;
    padding-left: 330px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 365px;
  }
}

.research__image {
  position: absolute;

  @media (min-width: $tablet-width) {
    left: 21px;
    top: -15px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: -15px;
  }
}

.research__timer {
  @media (min-width: $tablet-width) {
    width: 238px;
    height: 276px;
    fill: #dedede;
  }

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
  }
}

.research__circle {
  position: absolute;

  @media (min-width: $tablet-width) {
    left: 19px;
    top: 55px;
    width: 202px;
    height: 202px;
  }

  @media (min-width: $desktop-width) {
    left: 22px;
    top: 66px;
    width: 253px;
    height: 253px;
  }
}

.research__title {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;
    padding-right: 142px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;
  }
}

.research__break {
  &--tablet {
    @media (max-width: $tablet-width-only) {
      white-space: nowrap;
    }
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      white-space: nowrap;
    }
  }
}

.research__text {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $blue;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
    padding-right: 25px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $blue;
  }
}

.research__link {
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $blue;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    color: $pink;
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
