.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: $grey;
    outline: 1px solid orange;
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 28px;
    padding-bottom: 65px;
  }
}

.research__wrapper {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 38px;
    padding-bottom: 30px;
    padding-left: 330px;
    background-image: url("../../img/icon-editor-diagram-fill.svg"), url("../../img/timer.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 202px 202px, 238px 276px;
    background-position: 39px 56px, 20px, top;
    
    &::before {
      content: "24";
      position: absolute;
      color: $pink;
      left: 85px;
      top: 85px;
      font-size: 96px;
      font-weight: 700;
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 365px;
    background-size: 253px 253px, 298px 345px;
    background-position: 22px 67px, left top;
    
    &::before {
      left: 80px;
      top: 105px;
      font-size: 120px;
    }
  }
}

.research__title {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: $black;

    br {
      display: none;
    }
  }
}

.research__text {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-right: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: $blue;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: $blue;

    br {
      display: none;
    }
  }
}

.research__link {
  @media (min-width: $tablet-width) {
    color: $pink;
    font-size: 14px;
    transition: all 0.3s;
    
    &:hover,
    &:focus {
      color: $blue;
      text-decoration: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
