.site-menu {
  background-color: transparent;
  
  @include list-reset;
}

.site-menu__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  &[href]:hover,
  &[href]:focus {
    color: $pink;
  }

  &[href]:active {
    color: #ffffff;
    opacity: 0.3;
  }
}
