.slider__toggles {
  display: flex;
}

.slider__toggle {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: rgba($black, 0.3);
  border: 3px solid $white;
  border-radius: 50%;
  margin-right: 13px;
  cursor: pointer;
  
  &:hover,
  &:focus {
    background-color: rgba($black, 0.6);
  }
  
  &:active {
    background-color: rgba($black, 0.1);
  }
  
  &:last-child {
    margin-right: 0;
  }
  
  &--active {
    background-color: $white;
    border-color: $blue;
    cursor: default;
    
    &:hover,
    &:focus,
    &:active {
      background-color: $white;
    }
  }
}

.slider__buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider__button {
  position: absolute;
  top: -3px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba($blue, 0.3);
  transform: rotate(45deg);
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover,
  &:focus {
    transform: rotate(45deg) scale(1.2);
    border-color: $pink;
  }
  
  &--prev,
  &--prev:hover,
  &--prev:focus {
    left: 5px;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  &--next,
  &--next:hover,
  &--next:focus {
    right: 5px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    
  }
}
