.upload {
  background-color: $greyLight;
  padding-bottom: 40px;
}

.upload__intro {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $white;
  text-align: center;
  color: $blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.upload__picture {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.upload__form {
  margin-top: 20px;
}

.upload__controls {
  @include list-reset;
  margin-bottom: 40px;
}

.upload__button {
  background-color: $white;
  border-radius: 30px;
  width: 280px;
  cursor: pointer;

  &--upload {
    color: $pink;
  }

  &--upload:hover,
  &--upload:focus {
    background-color: $pink;
    color: $white;
  }

  &--upload:active {
    background-color: $pink;
    color: $white;
    opacity: 0.3;
  }

  &--reset {
    border-color: $blue;
    color: $blue;
    opacity: 0.1;
  }

  &--reset:hover,
  &--reset:focus {
    color: $blue;
    opacity: 0.3;
  }

  &--reset:active {
    background-color: $blue;
    color: $white;
    opacity: 0.3;
  }
}
