.upload {
  background-color: $greyLight;
  margin-top: 150px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 130px;
    margin-bottom: 30px;
  }
}

.upload__intro {
  width: $mobile-width;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  padding-right: 3px;
  background-color: $white;
  text-align: center;
  color: $blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-bottom: 70px;
    padding-right: 0;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
    padding-left: 3px;
  }
}

.upload__wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-wrapper-width;
    padding-top: 57px;
    padding-bottom: 55px;
    padding-left: 0;
    padding-right: 0;
  }
}

.upload__picture {
  text-align: center;
  margin: 0;
  margin-left: -2px;
  padding: 0;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 400px;
    margin-left: 0;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
    padding-left: 0;
  }
}

.upload__image {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.upload__form {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-top: 0;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    padding-left: 1px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    padding-bottom: 0;
  }
}

.upload__controls {
  @include list-reset;
  padding-left: 17px;
  padding-right: 28px;
  margin-bottom: 110px;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 36px;
    margin-bottom: 68px;
    margin-top: -17px;
  }
  
  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 88px;
  }
}

.upload__button {
  background-color: $white;
  border-radius: 30px;
  width: 280px;
  cursor: pointer;
  margin-left: -2px;
  padding-top: 8px;
  padding-bottom: 12px;

  &--upload {
    color: $pink;
    margin-bottom: 12px;
  }

  &--upload:hover,
  &--upload:focus {
    background-color: $pink;
    color: $white;
  }

  &--upload:active {
    background-color: $pink;
    color: $white;
    opacity: 0.3;
  }

  &--reset {
    border-color: $blue;
    color: $blue;
    opacity: 0.1;
  }

  &--reset:hover,
  &--reset:focus {
    color: $blue;
    opacity: 0.3;
  }

  &--reset:active {
    background-color: $blue;
    color: $white;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-left: auto;
    margin-right: auto;

    &--upload {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin: 0;
    margin-bottom: 1px;

    &--upload {
      margin-left: -1px;
      margin-right: 45px;
    }
  }
}
